{% extends "layout.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>

Hello! I’m Amber Sharma, a tech enthusiast from Chandigarh, India.

I’m currently pursuing my B.Tech in Cyber Security and Digital Forensics from VIT – Vellore Institute of Technology. My academic journey revolves around understanding digital threats, securing systems, and exploring the forensic side of cyber investigations.

This blog is a part of my learning journey — a space where I document what I build, learn, and experiment with. From web development projects and hackathon experiences to cybersecurity concepts and tech explorations, you’ll find a mix of everything here.

I believe in learning by doing, breaking things to understand them better, and continuously upgrading my skills in the ever-evolving tech world.

If you’re someone who enjoys technology, security, and building cool stuff — you’re in the right place.

Welcome to my digital space.
</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}